ul {
  list-style-type: none;
}
button {
  cursor: pointer;
}
.logo-link,
.menu-link,
.address-link,
.mob-menu-link,
.mob-address-link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.container {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
.logo-link {
  color: #4d5ae5;
}
.logo {
  color: #2e2f42;
}
.logo,
.logo-link,
.logo-footer-end {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.social-list-icon {
  fill: #f4f4fd;
}
.social-list {
  display: flex;
  gap: 24px;
  margin-top: 8px;
  justify-content: center;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:focus,
.social-list-link:hover {
  background-color: #404bbf;
}
.section {
  padding-top: 96px;
  padding-bottom: 96px;
}
.menu-link:hover,
.menu-link:focus,
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
.button-ord:hover,
.button-ord:focus,
.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
  background-color: #404bbf;
}

/*============== mobile ================*/
.menu {
  display: none;
}
.contacts {
  display: none;
}
.mob-menu-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999999;
  background-color: #ffffff;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  transform: translateX(0%);
}
.cont-menu {
  position: relative;
}
.mob-menu-close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  padding: 0;
  line-height: 0;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid #2e2f42;
  opacity: 0.1;
  border-radius: 50%;
  margin-bottom: 24px;
}

.mob-menu-nav {
  padding-top: 72px;
  margin-bottom: 168px;
}
.mob-menu-item {
  padding-bottom: 40px;
}
.mob-menu-item:last-child {
  padding-bottom: 0;
}

.mob-menu-link {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.mob-menu-link.active,
.mob-address-link.active {
  color: #404bbf;
}
.mob-address-link {
  color: #434455;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}
.mob-menu-address-item {
  padding-bottom: 24px;
}
.mob-menu-contacts {
  margin-bottom: 48px;
}
.mob-social-list {
  display: flex;
  gap: 40px;
  justify-content: center;
}
.hero-section {
  background: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero/people-office-m.jpg');
  max-width: 320px;
  height: 432px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}
@media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-device-pixel-ratio: 2) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/people-office-m@2x.jpg');
  }
}
.main-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 288px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  padding-top: 24px;
}
.button-ord {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  padding: 16px 32px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.rectangle-icon {
  display: none;
}
.section-header {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.benefits-item-title {
  margin-bottom: 8px;
}
.benefits-description {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  width: 288px;
}
.benefits-list {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}
.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  justify-content: center;
}
.team {
  background-color: #f4f4fd;
}
.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-descr {
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-person,
.team-work {
  text-align: center;
  margin-bottom: 8px;
}
.team-person,
.portfolio-header {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-work,
.portfolio-descr,
.footer-descr {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.portfolio-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
}
.portfolio-item:hover .overlay {
  transform: translateY(0%);
}
.overlay-wrapper {
  position: relative;
  overflow: hidden;
}
.portf-content {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-header {
  margin-bottom: 8px;
}
.footer-section {
  display: flex;
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #2e2f42;
  text-align: center;
}
.container-footer {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}
.footer-descr {
  color: #f4f4fd;
  width: 288px;
  text-align: left;
}
.link-footer {
  display: inline-block;
  margin-bottom: 16px;
}
.logo-footer-end {
  color: #f4f4fd;
}
.social-card-header,
.footer-form-descr {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.social-list-footer {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.social-list-item-footer {
  width: 40px;
  height: 40px;
}
.social-list-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link-footer:hover,
.social-list-link-footer:focus {
  background-color: #31d0aa;
}
.footer-form-input {
  width: 288px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  font-size: 12px;
  font-weight: 400;
  line-height: 2; /* 200% */
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: transparent;
  padding-left: 16px;
  opacity: 0.6;
  margin-bottom: 16px;
}
.footer-form-input::placeholder {
  color: #ffffff;
}
.footer-subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  border-radius: 4px;
  border: none;
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
}
.footer-subscribe-btn-icon {
  margin-left: 16px;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999999999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  background-color: #fcfcfc;
  padding: 72px 16px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  margin-bottom: 24px;
  line-height: 0;
  fill: #2e2f42;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  fill: #ffffff;
  border: none;
}
.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-descr {
  color: #2e2f42;
  /* width: 256px; */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.review-form-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}
.review-form-field {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-field:focus {
  border-color: #4d5ae5;
  outline-color: transparent;
  outline-offset: 4px;
}
.review-form-wrapper {
  margin-bottom: 8px;
}
.review-form-icon {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.revie-form-input-icon {
  position: relative;
}
.review-form-field:focus + .review-form-icon {
  fill: #4d5ae5;
}
.textaria-cont {
  margin-bottom: 16px;
}
.review-form-message {
  width: 100%;
  height: 120px;
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  background-color: transparent;
  outline: transparent;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-message::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.review-form-message:focus {
  border-color: #4d5ae5;
  outline-color: transparent;
  outline-offset: 4px;
}
.review-form-own-checkbox {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 8px;
  fill: transparent;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-checkbox-label {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
}
.privacy-policy-link {
  color: #4d5ae5;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.04px;
  text-decoration-line: underline;
}
.review-checkbox-wrapper {
  margin-bottom: 24px;
}
.review-checkbox-form:checked
  + .review-checkbox-label
  .review-form-own-checkbox,
.review-checkbox-form:focus + .review-checkbox-label .review-form-own-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}
.review-form-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin-right: auto;
  margin-left: auto;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-btn:hover,
.review-form-btn:focus {
  background-color: #404bbf;
}
/* ================== tablet ===================*/
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .menu {
    display: flex;
    gap: 40px;
  }
  .page-nav {
    display: flex;
    align-items: center;
  }
  .logo-header {
    margin-right: 120px;
  }
  .contacts {
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .address-link {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.04em;
    color: #434455;
  }
  .menu-item {
    padding: 24px 0;
  }
  .mob-menu-btn {
    display: none;
  }
  .menu-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-link.active {
    color: #404bbf;
    position: relative;
  }
  .menu-link.active::after {
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    position: absolute;
    bottom: -1px;
    left: 0%;
  }
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/people-office-t.jpg');
    max-width: 768px;
    height: 436px;
  }
  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/hero/people-office-t@2x.jpg');
    }
  }
  .main-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
    padding-top: 16px;
  }
  .benefits-item-title {
    text-align: left;
  }
  .benefits-description {
    width: 356px;
  }
  .benefits-list {
    flex-direction: row;
    column-gap: 24px;
    flex-wrap: wrap;
  }
  .benefits-item {
    width: calc((100%-24px) / 2);
  }
  .team-list {
    flex-direction: row;
    column-gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
  }
  .team-item {
    width: calc((100%-24px) / 2);
  }
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
  .container-footer {
    flex-direction: row;
    align-items: baseline;
    gap: 72px 24px;
    flex-wrap: wrap;
    padding-left: 92px;
  }

  .footer-descr {
    width: 264px;
  }
  .footer-subscrib-sect {
    display: flex;
    gap: 24px;
  }

  .footer-form-input {
    width: 264px;
  }
  .footer-section {
    text-align: left;
  }
  .modal {
    padding: 72px 24px 24px;
    width: 408px;
    min-height: 584px;
  }
}
/*==================== desktop ==========================*/
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
  .logo-header {
    margin-right: 76px;
  }
  .contacts {
    justify-content: center;
    gap: 12px;
  }
  .address-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-address-item {
    padding: 24px 0;
  }
  .menu-address {
    display: flex;
    gap: 40px;
  }

  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/people-office.jpg');
    max-width: 1440px;
    height: 660px;
  }
  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/hero/people-office@2x.jpg');
    }
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .main-title {
    margin-bottom: 48px;
    padding-top: 92px;
  }
  .rectangle-icon {
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
    margin-bottom: 8px;
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .benefits-item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .benefits-list {
    flex-wrap: nowrap;
  }
  .benefits-description {
    width: 264px;
    font-weight: 500;
  }
  .team-list {
    flex-wrap: nowrap;
  }
  .portfolio-list {
    gap: 48px 24px;
  }
  .portfolio-item {
    width: calc((100% - 2 * 24px) / 3);
  }
  .footer-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .container-footer {
    flex-wrap: nowrap;
    gap: 0;
    padding-left: 16px;
    padding-right: 0px;
  }
  .footer-start {
    margin-right: 120px;
  }
  .social-card-footer {
    margin-right: 80px;
  }
}
